* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.15;
  font-family: Lato, sans-serif;
  color: #32363f;
  background-color: #fff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3em;
  box-shadow: inset 0 -1px 0 0 #d6d8da;
}
.bar h1 {
  width: 15rem;
  padding-left: 3rem;
  font-size: 1.5em;
  font-weight: 400;
  background: url("icon.svg") no-repeat 1rem;
}
.bar h1 strong {
  font-weight: 700;
}
.bar .query {
  width: 32em;
  padding: .3rem;
  font-size: 1.1em;
  border: 1px solid #d6d8da;
  border-radius: 2px;
  color: #32363f;
  background: url("search.svg") no-repeat center right .3rem;
}
.bar .query:hover {
  border: 1px solid #95999d;
}

.sidebar {
  width: 15rem;
  height: 100%;
  border-right: 1px solid #d6d8da;
  background-color: #f5f6f7;
}

.results {
  flex: 1;
}
.results h1 {
  margin: 2rem;
  font-size: 1.5rem;
}
.results ul {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 0;
}
.results li {
  flex: 24em 1 1;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #d6d8da;
  border-radius: 2px;
  list-style-type: none;
  line-height: 1.5;
}
.results li:hover {
  background-color: #f5f6f7;
}

.field-type {
  display: inline-block;
  width: 7em;
  font-size: .7em;
  color: #92a0b2;
  text-transform: uppercase;
}
