* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.15;
  font-family: Lato, sans-serif;
  color: #32363f;
  background-color: #fff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3em;
  box-shadow: inset 0 -1px 0 0 #d6d8da;
}
.bar h1 {
  width: 15rem;
  padding-left: 3rem;
  font-size: 1.5em;
  font-weight: 400;
  background: url("icon.svg") no-repeat 1rem;
}
.bar h1 strong {
  font-weight: 700;
}
.bar .query {
  width: 32em;
  padding: .3rem;
  font-size: 1.1em;
  border: 1px solid #d6d8da;
  border-radius: 2px;
  color: #32363f;
  background: url("search.svg") no-repeat center right .3rem;
}
.bar .query:hover {
  border: 1px solid #95999d;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 100%;
  padding: 1.5em 0;
  border-right: 1px solid #d6d8da;
  background-color: #f5f6f7;
}
.sidebar a {
  display: block;
  opacity: .5;
  width: 90%;
  height: 3em;
  line-height: 3em;
}
.sidebar a:hover {
  opacity: .9;
  color: #32363f;
  background: silver;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
.sidebar .doctype-selected {
  opacity: 1;
  box-shadow: inset 4px 0 0 0 #297ef2;
  font-weight: 700;
}
.sidebar .doctype-selected:hover {
  opacity: 1;
}
.icon {
  float: left;
  width: 4rem;
  height: 3rem;
}
.doctype-contacts .icon {
  background: url("contact.svg") no-repeat center left 1.5rem;
}
.doctype-files .icon {
  background: url("file.svg") no-repeat center left 1.5rem;
}

.results {
  flex: 1;
}
.results h1 {
  margin: 2rem;
  font-size: 1.5rem;
}
.results ul {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 0;
}
.results li {
  flex: 24em 1 1;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #d6d8da;
  border-radius: 2px;
  list-style-type: none;
  line-height: 1.5;
}
.results li:hover {
  background-color: #f5f6f7;
}

.contact-name, .file-name {
  display: flex;
  align-items: center;
  margin: .5rem 0;
}
.contact-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 1rem 0 0;
  border-radius: 50%;
  font-weight: bold;
  color: white;
}
.contact-email, .contact-address, .contact-phone, .contact-cozy,
.file-size, .file-updated {
  margin-left: 3.5rem;
}
.field-type {
  display: inline-block;
  width: 7em;
  font-size: .7em;
  color: #92a0b2;
  text-transform: uppercase;
}

.file-type {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 1rem 0 0;
}
.file-audio {
  background: url("icon-type-audio.svg") no-repeat center center;
}
.file-bin {
  background: url("icon-type-bin.svg") no-repeat center center;
}
.file-code {
  background: url("icon-type-image.svg") no-repeat center center;
}
.file-files {
  background: url("icon-type-files.svg") no-repeat center center;
}
.file-folder {
  background: url("icon-type-folder.svg") no-repeat center center;
}
.file-image {
  background: url("icon-type-image.svg") no-repeat center center;
}
.file-pdf {
  background: url("icon-type-pdf.svg") no-repeat center center;
}
.file-sheet {
  background: url("icon-type-sheet.svg") no-repeat center center;
}
.file-slide {
  background: url("icon-type-slide.svg") no-repeat center center;
}
.file-text {
  background: url("icon-type-text.svg") no-repeat center center;
}
.file-video {
  background: url("icon-type-video.svg") no-repeat center center;
}
.file-zip {
  background: url("icon-type-zip.svg") no-repeat center center;
}
